<a href="https://colab.research.google.com/github/ja-nana/Linear-Algebra_ChE_2nd-Sem-2021/blob/main/Assignmnet1_Siena_Vertudes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Welcome to Python Fundamentals**
---
---

In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:

* *Variables and Data Types*
* *Operations*
* *Input and Output Operations*
* *Logic Control*
* *Iterables*
* *Functions*
---
---

##**Variables and Data Types**
---
---

> **Variables** are the identifiers of the values or data assigned to them. You may also refer to them as the "nouns" of the programming language because they are the placeholders for their respective values. Every variable has a data type, which affects how they interact with other variables and operators.


---


> **Data Types** are the different categories of data. They represent whether a value is numerical or a string value, including non-numerical characters. Boolean values are also included here, representing whether a statement is true or false.

The different data types are as follows:

* Integers
* Floats
* Strings
* Booleans (*True* and *False*)


---
---

In [ ]:
x=1
y,z= 0,-2
y

0

In [ ]:
type(x)

int

In [ ]:
r = 2.0
type(r)

float

In [ ]:
t = float(x)
type(t)

float

In [ ]:
s,k,u = "0", '1', 'one'
type(u)

str

In [ ]:
k_int = int(k)
k_int
type(k)

str

#**Operations**
---
---

> These are the set of characters which decide the program's course of action. The operations to be discussed are as follows:
*  *Arithmetic Operations*
*  *Assignment Operations*
*  *Comparators*
*  *Logical Operations*
*  *Input/Output Operations*

---
---

---
##**Arithmetic**

> Arithmetic Operators are used with numerical values in order to perform arithmetic, or common mathematical operations.



---

In [ ]:
a,b,c,d = 5,6,7,8

In [ ]:
#Addition
S = a+b
S

11

In [ ]:
#Subtraction
M = c-a
M

2

In [ ]:
#Multiplication
X = a*d
X

40

In [ ]:
#Division
H = c/a
H

1.4

In [ ]:
#Floor Division
HD = d//b
HD

1

In [ ]:
#Exponentiation
E = b**a
E

7776

In [ ]:
#Modulo
MOD = c%b
MOD

1

---
##**Assignment Operations**

> Assignment Operators are used to assign values to variables or to change already existing values. These operations could also be used in logical operations.
---

In [ ]:
I, J , K , L = 0, 100, 2, 2

In [ ]:
J += L
J

102

In [ ]:
H -= I
H

1.4

In [ ]:
J *= 3
J

306

In [ ]:
K **= 3
K

8

---
##**Comparators**

> Comparators are the operations used to compare two values of the same data type. These operations return a *boolean* value, which is either *true* or *false*.


---

In [ ]:
res_1, res_2, res_3 = 1,2.0,"1"
true_val =1.0

In [ ]:
## Equality
res_1 == true_val

True

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t1

False

---
##**Logical**


>  Logical Operators are used to create conditional statements. These statements return a *boolean* value, which is either *true* or *false*, depending on the values given and the operator used.


---

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
P,Q = True, False
conj = P and Q
conj

False

In [ ]:
P, Q = True, False
disj = P or Q
disj

True

In [ ]:
P, Q = True, False
nand = not(P and Q)
nand

True

In [ ]:
P, Q= True, False
xor = (not P and Q) or (P and not Q)
xor

True

---
##**I/O: Input/Output**


> The previous methods of defining variables has been to input the value into the code itself, but Input and Output operations allows for user interaction with the program itself. Through the *input()* statement, the user may assign any character to a variable. The *.format()* statement allows the user to make their output appear less cluttered.


---

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

In [ ]:
string = "Hello World"
print (string, ", Current run count is:", cnt)
cnt += 1

Hello World , Current run count is: 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 2

In [ ]:
sem_grade = 82.243564657746123
name = "Ja"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Ja, your semestral grade is: 82.24356465774612

In [ ]:
pre,mid,fin = 0.25, 0.25, 0.5
print("The weights of your semestral grade are:\
      \n\t{:.2%} for Prelims,\
      \n\t{:.2%} for Midterms, and\
      \n\t{:.2%} for Finals.".format(pre,mid,fin))

The weights of your semestral grade are:
	25.00% for Prelims,
	25.00% for Midterms, and
	50.00% for Finals.

In [ ]:
q= input("Enter your name: ")
q

Enter your name: Janus

'Janus'

In [ ]:
name = input ("Your name: ")
pr = input("Enter Prelim: ")
md = input("Enter Midterm: ")
fn = input("Enter Final: ")
sg = 85
print("Hello {}, your semestral grade is: {}".format(name,sg))

Your name: Janus
Enter Prelim: 80.67
Enter Midterm: 80.78
Enter Final: 90.87
Hello Janus, your semestral grade is: 85

#**Looping Statements**
---
---



> Looping Statements contain directions that repeat continuously until the statement's condition is achieved. 


---
---



---


###**While**


> While Statements are a type of looping statement which *FIRST CHECKS* the condition before performing its instructions. It will continuously perform the instructions until the condition is proven *FALSE*.



---

In [ ]:
## While Looping
s , k = 1,5
while(s<=k):
  print(f"{s}\t|\t{k}")
  s+=1

1	|	5
2	|	5
3	|	5
4	|	5
5	|	5


---
###**For**


> For Loop Statements are used to perform a statement for each item or data in a set or range.



---

In [ ]:
# for (int p=0; p<10; i++){
# printf(p)}

p=0
for p in range(11):
  print (p)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
playlist = ["ì†Œë¦¬ê¾¼", "ê¸°ë„", "All Too Well"]
print('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

ì†Œë¦¬ê¾¼
ê¸°ë„
All Too Well

#**Flow Control**
---
---

> Flow Control is used to determine the sequence in which the program's statements run. This is either sequential or conditional.

---
---

---
##**Condition Statements**

> Conditional Statements includes the *if()*, *elif()*, and *else()* statements. The program checks the conditions for each statement and if the value is determined to be *TRUE*, then the program proceeds to perform that specific condition. If determined as *FALSE*, then the program moves on the to the next statement.



---

In [ ]:
num1, num2 = 15,1
if(num1<num2): 
  print("Yes")
elif(num1>num2):
  print("Hehe")
else:
  print("eme")

Hehe

---
##**Function**


> Function are used to complete specific directions only when called upon. Data can be defined within a function, which can be returned as a result of the program. 



---

In [ ]:
# void DeleteUser(int username){
# delete(username); }

def delete_u (username):
  print("Finished Deleting user: {}".format(username))

def delete_allu():
  print("Finished Deleting all users")

username = 20201000
delete_u(20201000)
delete_allu()

Finished Deleting user: 20201000
Finished Deleting all users

In [ ]:
def add(nume1, nume2):
  print("I know how to add nume1 and nume2")
  return nume1 + nume2

def power_base2(exponent):
  return 2**exponent

nume1 = 10
nume2 = 5

exponent=5 
#add(nume1,nume2)
power_base2(exponent)

32

In [ ]:
add(nume1, nume2)

I know how to add nume1 and nume2

15

---
---
#**Lambda Functions**

Lambda functions are a specific type of function in which it is "anonymous", meaning it does not have a defined variable name. Lambda functions are typically used in high-order functions, which are functions that take in other functions as arguments.

---
---


```
Activity & Lab Report
```
#***Grade Calculator***
---

Create a **grade calculator** that computes for the semestral grade of a course.

Students could *type their names*, the *name of the course, then their prelim, midterm, and final grade*.

The program should *print the semestral grade in 2 decimal points* and should display the folowing emojis depending on the situation:

**happy** - when *grade is greater than 70.00*

**laughing** - when *grade is exactly 70.00*

**sad** - when *grade is below 70.00*

---

####**USE THESE EMOJIS:**

Happy:
```
"\U0001F600"
```
LOL:
```
"\U0001F606"
```
Sad:

```
"\U0001F62D"
```
---
---

In [ ]:
"\U0001F600 "

'ðŸ˜€ '

In [ ]:
"\U0001F62D "

'ðŸ˜­ '

In [ ]:
"\U0001F606 "

'ðŸ˜† '



---

In [ ]:
name = input("Student Name [INPUT FULL NAME]: ")
course = input("Course: ")
print()
Prelims = float(input("Prelim Grade: "))
Midterms = float(input("Midterm Grade: "))
Finals = float(input("Final Grade: "))
Total = (Prelims) + (Midterms) + (Finals)
Sem = Total/3
sem_f= "{:.2f}".format(Sem)
print()
print("Student: {}".format(name))
print("Course: {}".format(course))
print("Your Semestral Grade is {}".format(sem_f))
if Sem > 70.00:
  print("\U0001F600")
elif Sem == 70.00:
  print("\U0001F606")
else:
  print("\U0001F62D")

Student Name [INPUT FULL NAME]: Lee Felix
Course: Linear Algebra

Prelim Grade: 90
Midterm Grade: 78
Final Grade: 89.88

Student: Lee Felix
Course: Linear Algebra
Your Semestral Grade is 85.96
ðŸ˜€